<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>699291249601-6k7hj5lptlq9882f5m8asp9h9v9hri5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699291249601-6k7hj5lptlq9882f5m8asp9h9v9hri5d</string>
	<key>API_KEY</key>
	<string>AIzaSyB6KCo7Uc0_MwKHWlv7NzvccuUracpmgXA</string>
	<key>GCM_SENDER_ID</key>
	<string>699291249601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fusepong.sportlife</string>
	<key>PROJECT_ID</key>
	<string>sportlife-3c8d0</string>
	<key>STORAGE_BUCKET</key>
	<string>sportlife-3c8d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699291249601:ios:bd286f2c15f98c83</string>
	<key>DATABASE_URL</key>
	<string>https://sportlife-3c8d0.firebaseio.com</string>
</dict>
</plist>